In [14]:
import pandas as pd
import numpy as np

In [15]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [16]:
df = pd.DataFrame(exam_data)

In [17]:
print(df["attempts"])
print(df["qualify"])

0    1
1    3
2    2
3    3
4    2
5    3
6    1
7    1
8    2
9    1
Name: attempts, dtype: int64
0    yes
1     no
2    yes
3     no
4     no
5    yes
6    yes
7     no
8     no
9    yes
Name: qualify, dtype: object